.bar {
    padding-top: 5px;
    display: flex;
    width: 90vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.aka {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aka img {
    padding-bottom: 16px;
}

.aka ul {
    display: flex;
}

.aka ul li {
    list-style: none;
    padding: 24px;
    flex-wrap: nowrap;
}


.ao .one {
    margin: 0;
    padding: 8px;
    width: 8vw;
    color: black;
    border: 2px solid black;
    border-radius: 8px;
}

.ao .two {
    border: none;
    background-color: white;
}

.ao button {
    margin: 8px;
    padding: 5px;
    font-weight: 700;
}


@media screen and (max-width:1080px) {
    .bar {
        display: flex;
        flex-wrap: nowrap;
        position: sticky;
        top: 0px;
        left: 0px;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .aka ul {
        display: flex;
        flex-wrap: nowrap;
    }

    .aka ul li {
        display: flex;
        flex-wrap: nowrap;
    }

    .ao button {
        display: flex;
        text-wrap: nowrap;
        flex-wrap: nowrap;
    }
}
